<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Authentification</title>
</head>
<body>

    <h1 class="password-h">
        <a href="/inventory">Inventory</a> - <a href="/category">Categories</a>
    </h1>

      
    <div class="category-create-container">
        <h2 class="invalid-password"><%=invalidPassword%></h2>
        <form class="category-create-form" 
        action="<%=urlID%>"  method="GET" >
            <div class="category-form-input">
                <label for="password">Password:</label>
                <input name="password" type="password" value="" id="password" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>