body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  color: #00B7FF;
}

.heading-info{
  text-align: center;
}

.heading-info a{
  color: limegreen;
}


.item-container, .item-edit-container, .categories-container, .category-create-container{
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 70%;
  margin: 5vh auto 20vh auto;
  font-family: 'Courier New', Courier, monospace;
}

.item-stock{
  position: relative;
  bottom: -16%;
  width: fit-content;
}

.item-info{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 2vh 15vh;
  padding: 5px;
  font-size: 5vh;
}


.item-description{
  display: flex;
  align-items: center;
  height: 70%;
  font-size: 2vh;
}

.item-description img{
  height: 23vh;
  width: 23vh;
  margin-right: 20px;
  margin-bottom: 10px;
}

.item-description p{
  width: 100%;
}

.item-edit-link{
  color: #00B7FF;
  margin-top: 10px;
}

.item-category{
  align-self: flex-end;
  text-decoration: none;
}

.item-container-edit-page{
  margin-bottom: 8vh;
}

.item-edit-container{
height: 80vh;
width: 90%;
align-items: center;
color: grey
}

.item-edit{
display: flex;
flex-direction: column;
height: 90%;
width: 98%;
font-size: 3vh;
}

.item-info-edit{
display: flex;
justify-content: space-evenly;
align-items: center;
height: 30%;
}

.item-description-edit{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height: 65%;
}

.image-url-edit-container{
width: 60%;

}

.item-description-edit-container{
width: 100%;
}

.item-description-edit-area{
width: 100%;
height: 60%;
color: grey
}

.item-category-select{
margin-bottom: 50px;
}

.edit-delete-container{
  display: flex;
  width: 23vh;  
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 7%;
  text-align: center;
}

.edit-delete-container button{
  background-color: transparent;
  color: red;
}

.item-edit-link-btn{
  border: 2px solid #00B7FF;
}

.delete-btn{
  border: 2px solid red;
}

.edit-delete-container button:hover{
  transform: scale(1.08);
}

.item-edit-stock{
  width: 20%;
  margin-bottom: 5vh;
}

.item-edit-stock-label{
  width: 30%;
}

.categories-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10vh auto;
  padding-top: 100px;
  font-size: 5vh;
}

.category{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.category-edit-delete-container{
  height: 50%;
  width: 20%;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px;
  font-size: 2vh;
  color: black;
}

.category-edit-delete-container form{
  margin: 0 20px;
}

.category-edit-btn{
  height: fit-content;
}

.category-edit-link{
  color: black;
  text-decoration: none;
}

.category-edit-link:hover{
  color: rgb(11, 131, 179)
}

.category-delete-btn:hover{
  transform: scale(1.08);
  color: red;
}

.category-edit-btn:hover{
  transform: scale(1.08);
}

.category-create-container{
  height: 20vh;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.category-create-form{
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 2vh;
}

.category-create-form button{
  width: 30%;
}

.category-form-input{
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.category-form-input input{
  width: 60%;
  margin-left: 10px;
}

.invalid-password{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: monospace;
  font-weight: 200;
  color: red;
}


@media only screen and (max-width: 1250px) {
  body {
    padding: 20px;
  }

  .heading-info{
    padding: 3vh 0px;
    margin-bottom: -60px;
  }

  .item-container{
    width: 80%;
  }

  .item-category{
    position: relative;
    top: 20%;
  }

  .categories-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 20px;
    padding-top: 30px;
    font-size: 3em;
  }
  
  .category{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .category-edit-delete-container{
    margin: 0;
  }

  .categories-container{
    width: 100%;
    margin: 150px 0;
  }

  .password-h{
    font-size: 1em;
  }

  .category-create-container{
    width: 100%;
  }

  .category-create-form{
    width: 100%;
  }

  .category-form-input label{
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .item-edit-container{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .item-edit{
    display: flex;
    flex-direction: column;
  }

  .item-info-edit, .item-description-edit, .item-category-select{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .image-url-edit-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .item-info-edit, .item-description-edit, .item-category-select input{
    margin-bottom: 20px;
  }

  .item-category-select{
    margin-bottom: 20px;
  }

  .item-edit-stock{
    width: 100%;
    margin-bottom: 15px;
  }

  .item-edit-btn{
    width: fit-content;
  }

  .create-heading{
    font-size: 0.85em;
  }

  .category-form-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media only screen and (max-width: 1050px) {
  .item-container{
    width: 90%;
    margin: 5vh 10px 20vh 10px;
  }

  .item-category{
    top: 30%;
  }

  .item-info{
    justify-content: space-between;
  }

  .fruit-name{
    width: 100%;
  }
  
  .price{
    padding-right: 50px;
  }

  .description{
    font-size: 0.85em;
  }

}


@media only screen and (max-width: 850px) {

  .item-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "stock info info"
    "desc desc desc"
    "desc desc desc"
    "btn btn btn";
  }

  .item-stock, .item-info, .item-description, .edit-delete-container{
    position: static;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 1em;
  }

  .item-stock{
    grid-area: stock;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-info{
    grid-area: info;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6em;
  }

  .fruit-name{
    width: 90%;
  }

  .item-description{
    grid-area: desc;
    font-size: 0.75em;
  }

  .item-category{
    position: static;
    font-size: 1.15em;
  }

  .edit-delete-container{
    grid-area: btn;
  }
}

@media only screen and (max-width: 750px) {
  body{
    background-color: red;
  }
}